@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    src: url("https://res.cloudinary.com/demingfactor/raw/upload/v1645588269/storytelling/fonts/LibreBaskerville-Regular-stripped.woff2") format("woff2"),
        url("https://res.cloudinary.com/demingfactor/raw/upload/v1645588253/storytelling/fonts/LibreBaskerville-Regular-stripped.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Frank Ruhl Libre";
    font-style: black;
    font-weight: normal;
    src: url("https://res.cloudinary.com/demingfactor/raw/upload/v1645588264/storytelling/fonts/FrankRuhlLibre-Black-stripped.woff2") format("woff2"),
        url("https://res.cloudinary.com/demingfactor/raw/upload/v1645588251/storytelling/fonts/FrankRuhlLibre-Black-stripped.ttf") format("truetype");
}

@media screen and (min-width: 1024px) {
    .sd-hidden-lg {
        display: none !important;
    }
  }
  
body {
    font-family: 'Noto Sans', sans-serif;
}

.text-transparent {
    color: transparent;
}

.no-underline {
    text-decoration: none !important;
}

.article-card {
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.bg-tile-1 {
    background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1645595842/storytelling/low-contrast-linen.png");
}

.bg-tile-2 {
    background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1645595654/storytelling/greyzz.png");
}

.bg-tile-3 {
    background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1645678545/storytelling/45-degree-fabric-light.png");
}

.bg-pattern-green {
    background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1645677980/storytelling/green-pattern.jpg");
}

.bg-article-green {
    background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1645683911/storytelling/sasa-green-banner.svg");
}