{% layout 'layouts/base.html' %}

{% block content %}
{% assign bg_image = "https://res.cloudinary.com/demingfactor/image/upload/v1645683911/storytelling/banners/sasa-green-banner.svg" %}
{% for bg in collections.all %}
  {% if bg.data.type == "background" and bg.data.title == background %}
    {% assign bg_image = bg.data.image %}
    {% assign bg_colour = bg.data.bg_colour %}
    {% assign font_colour = bg.data.font_colour %}
  {% endif %}
{% endfor %}
<div id="background" class="flex justify-center w-full overflow-hidden" style="background-image: url('{{ bg_image }}')">
  <div class="relative max-w-screen-2xl w-full -mt-16 px-4 md:px-12">
    <img width="701" height="402" src="https://res.cloudinary.com/demingfactor/image/upload/v1645682976/storytelling/once-upon.svg" alt="Once upon a time">
  </div>
</div>
<div class="flex flex-col justify-center max-w-4xl w-full flex-grow">
  {% if image %}
    <img class="pt-12 md:p-8" src="{{ image }}" alt="header image">
  {% endif %}
  <div class="flex flex-col items-center w-full text-base md:text-lg p-4 mob:p-8 sm:p-12 text-brown-800">
    <div class="flex flex-col gap-4 mb-4 w-full">
      <h1 class="text-3xl md:text-4xl font-bold">{{ title }}</h1>
      {% if subtitle %}
        <h2 class="text-2xl font-bold">{{ subtitle }}</h2>
      {% endif %}
      <div class="flex items-center gap-2">
        {% if author %}
          <p class="text-sm">by {{ author }}</p>
          <p>-</p>
        {% endif %}
        <p class="text-sm">{{ date | date: "%b %d, %Y" }}</p>
      </div>
      <div class="flex gap-1">
        {%- for slug in topics -%}
          <div>
            <a class="hover:text-gray-700 underline" href="/topics/{{ slug }}/">
              {% assign topicname = slug | split: "-" %}
                {% for topictitle in topicname %}
                  {{ topictitle | capitalize }}
                {%- endfor -%}
            </a>
            {% assign lasttopic = topics | last %}
              {% unless slug == lasttopic %}
                <span>✧</span>
              {% endunless %}
          </div>
      {%- endfor -%}
      </div>
    </div>
    <div class="prose md:prose-lg flex-grow w-full">
      {{ content }} 
    </div>
  </div>
</div>
<div class="bg-article-green w-full h-28"></div>
{% endblock %}
