{% layout 'layouts/base.html' %}

{% block content %}
{% if location %}
  {% include "partials/map.liquid" %}
{% endif %}
<div class="flex justify-center w-full">
  <div class="flex flex-col gap-4 w-full max-w-prose text-base md:text-lg m-4 mob:m-8 sm:m-12 text-gray-700">
    <div class="flex flex-col sm:justify-between sm:items-end">
      <div class="self-start flex flex-col gap-4">
        <h1 class="text-3xl md:text-5xl font-bold">{{ title }}</h1>
        {% if subtitle %}
          <h2 class="text-lg md:text-3xl font-bold">{{ subtitle }}</h2>
        {% endif %}
        {% if archived %}
          <p>This is a past event, which has already ocurred.</p>
        {% endif %}
      </div>
      <div>
        <div class="flex sm:flex-row-reverse items-center gap-2">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
          <h3>
            <a class="underline text-blue-600" href="https://www.google.com/maps/search/{{ location_details }}" target="_blank">{{ location_details }}</a>
          </h3>
        </div>
        <div class="flex sm:flex-row-reverse items-center gap-2">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
          <h3>{{ date | date: "%b %d, %Y" }}</h3>
        </div>
      </div>
    </div>
    <div class="prose md:prose-lg">
      {{ content }} 
    </div>
  </div>
</div>
{% endblock %}
